@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

.trust{
  background-color: rgb(53, 93, 73);
  margin: 0;
  padding-bottom: 20px;
  font-weight: 500;
  color: rgba(127, 255, 212, 0.715);
  font-family:'Quicksand', sans-serif
}
.page3 {
    display: flex;
    flex-direction: row;
    background-color: rgb(53, 93, 73);
    justify-content: center;
    color: blanchedalmond;
}

.comp{
  
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(77, 107, 48);
  
}
.compBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;

}

.logos{
  height: 40%;
  width: 40%;
  padding: 10px;
}


@media screen and (max-width:800px){
  .page3{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .compBox{
    border:outset;
    border-color: rgb(222, 196, 196);
    border-radius: 10px;
    border-width: 1px;
    width: 70%;
    margin: 5px;

  }

  .logos{
    height: 40%;
    width: 40%;
    padding: 10px;
  }
}